@font-face {
    font-family: 'PlusJakartaSans';
    src: url(assets/fonts/static/PlusJakartaSans-Medium.ttf);
}

body {
    background-color: #e3f4fc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;   
    height: 100vh;
    font-family: 'PlusJakartaSans';
    padding: 0px 250px;
}

.main-block {
    display: flex;
    background-color: white;
    border-radius: 15px;
}

.main-side {
    padding: 40px 40px;
    width: 70%;
}

.results-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    background-color: #133040;
    color: white;
    border-radius: 0 15px 15px 50px;
    box-sizing: border-box;
    width: 83%;
}

.results-side h2 {
    margin-bottom: 0px;
}

.results-side p {
    margin-top: 20px;
}

.main-side p {
    color: gray;
}

.results-side img {
    display: block;
    margin: 0 auto;
}

.main-side-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

button {
    background-color: #d9db2f;
    color: #102b3e;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

button img {
    padding-right: 10px;
}

button:hover {
    background-color: #ebee97;
}

label, .main-side h2, p {
    color: lightslategray;
}

input[type="text"] {
    border-radius: 5px;
    width: 100%;
    height: 45px;
    margin: 10px 0 20px 0;
    color: #133040;
    font-weight: bold;
}

.mortgage-data {
    display: flex;
    gap: 50px;
}

.mortgage-data input[type="text"] {
    width: 100%;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container::before {
    content: "£";
    position: absolute;
    margin-bottom: 10px;
    background-color: #e3f4fc;
    border: 1px solid #838d8f;
    border-right: none;
    color: #333;
    padding: 10px 14px;
    font-size: 16px;
    height: 45px;
    width: 40px;
    border-radius: 5px 0px 0px 5px;
    box-sizing: border-box;
}

.input-container.focused::before {
    background-color: #dbda32;
    border: 1px solid #dbda32;
    border-right: none;
    color: #333;
}

.input-container.hover-effect::before {
    border-color: #133040;
}

.input-container.warning-container::before {
    background-color: red;
    border: 1px solid red;
    border-right: none;
    color: white;
}

.custom-input:hover {
    border: 1px solid gray;
}

.custom-input {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid #838d8f;
    padding-left: 50px;
}

.custom-input:focus, .custom-input-rate:focus, .custom-input-term:focus{
    outline: none
}

.container-mortgage-term, .container-interest-rate {
    position: relative;
}

.container-mortgage-term::after {
    content: "years";
}

.container-interest-rate::after {
    content: "%";
}

.container-mortgage-term::after, .container-interest-rate::after {
    position: absolute;
    right: -6px;
    top: 10px;
    background-color: #e3f4fc;;
    color: #333;
    pointer-events: none;
    padding: 10px 14px;
    font-size: 16px;
    height: 45px;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #838d8f;
    border-left: none;
}

.container-mortgage-term.focused::after, .container-interest-rate.focused::after {
    background-color: #dbda32;
    border: 1px solid #dbda32;
    border-left: none;
    color: #333;
}

.container-mortgage-term.hover-effect::after, .container-interest-rate.hover-effect::after {
    border-color: #133040;
}

.container-mortgage-term.warning-container::after, .container-interest-rate.warning-container::after {
    background-color: red;
    border: 1px solid red;
    border-left: none;
    color: white;
}

.custom-input-term, .custom-input-rate {
    height: 45px;
    border: 1px solid #838d8f;
    border-radius: 5px;
    box-sizing: border-box;
}

.main-side-header h1, .main-side-header h2 {
    margin-top: 0;
}

.main-side-header h2:hover {
    color: #133040;
}

.radio-container {
    display: flex;
    align-items: center;
    height: 45px;
    border: 1px solid #838d8f;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 10px;
    margin: 10px 0;
}

.radio-container label {
    color: #133040;
    padding: 0px 10px;
}

.main-side-header h1 {
    font-size: x-large;
}

.main-side-header h2 {
    font-size: medium;
}

.warning {
    color: red !important;
    display: none;
    margin-top: -10px;
}

.warning-4 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.radio-container:hover {
    border-color: #dbda32;
}

.mortgage-results {
    border-top: 5px solid #dbda32;
    border-radius: 10px;
    background-color: #0e2431;
    padding: 20px 40px;
    width: 100%;
    box-sizing: border-box;
}

.mortgage-price {
    color: #dbda32;
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.mortgage-monthly {
    color: white;
    font-size: large;
    margin-top: 10px;
}

.mortgage-results-header h2 {
    margin-top: 0px;
}

.mortgage-results h2 {
    color: #838d8f;
    font-size: medium;
    margin-top: 10px;
}
